/.idea/.gitignore
/fact_Q_n_A_system/.idea/.gitignore
/fact_Q_n_A_system/.idea/fact_Q_n_A_system.iml
/.idea/misc.xml
/fact_Q_n_A_system/.idea/misc.xml
/.idea/modules.xml
/fact_Q_n_A_system/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/fact_Q_n_A_system/.idea/inspectionProfiles/profiles_settings.xml
/.idea/project.iml
/.idea/inspectionProfiles/Project_Default.xml
/fact_Q_n_A_system/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/fact_Q_n_A_system/.venv/
/fact_Q_n_A_system/.idea/
/fact_Q_n_A_system/train/factbot/
/fact_Q_n_A_system/dataset/dataset.txt
